.additional-products__title {
  position: relative;
  margin-bottom: 35px;

  @include font-options($oswald, 24px, 24px);
  color: #111111;

  &::after {
    @include head-line(15px, -19px, auto, 247px);
  }
}

.additional-products__list {
  @include list-reset();
  margin-bottom: 38px;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 18px;

  border-bottom: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: none;
  }
}

.additional-products__gift {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 188px 55px 40px 54px;

  @include font-options($arial, 16px, 20px);
  color: #ffffff;
  text-align: center;
  width: 100%;

  background-color: $green-color;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: contain;
  }

  &::before {
    content: "";

    width: 58px;
    height: 60px;

    position: absolute;
    top: 66px;
    left: calc(50% - 56px / 2);

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__wrapper {
    margin: 0 auto;
    width: $tablet-width-block;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    margin: 68px 0 80px 38px;

    &::before {
      @include head-line(21px, 710px, auto, -65px);
    }

    &::after {
      top: 21px;
      right: -4%;
      left: 374px;
    }
  }

  .additional-products__list {
    margin-bottom: 69px;
    border: 1px solid #cdcdcd;
  }

  .additional-products__item {
    padding: 0 37px;
  }

  .additional-products__gift {
    width: 100%;
    min-height: 200px;
    padding: 72px 120px 67px 423px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }

    text-align: left;

    &::before {
      left: calc(17% - 56px / 2);
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products__title {
    margin-top: 76px;
    margin-left: 0;

    &::before {
      right: 1259px;
      left: -109px;
    }

    &::after {
      right: -109px;
      left: 373px;
    }
  }

  .additional-products__wrapper {
    display: flex;
    width: $desktop-width-block;
  }

  .additional-products__list {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  .additional-products__item {
    padding: 0;
  }

  .additional-products__gift {
    width: 302px;
    min-height: 290px;
    margin-right: 1px;
    margin-left: 77px;
    margin-bottom: 68px;
    padding: 188px 40px 40px 40px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }

    text-align: center;

    &::before {
      left: calc(50% - 56px / 2);
    }
  }
}
