.choice {
  @include list-reset();
  padding-left: 46px;
}

.choice__item {
  margin-bottom: 25px;

  position: relative;
}

.choice__label {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: -5px;
    left: -46px;

    box-sizing: border-box;

    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &::after {
    display: none;

    top: 4px;
    left: -37px;

    width: 12px;
    height: 12px;

    background-color: $green-color;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;

    &::before {
      opacity: 0.3;
    }
  }
}

.choice__input:focus + .choice__label::before {
  // outline: thick dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.choice__input:checked + .choice__label::after {
  display: block;
}

.choice__label,
.choice__label::after {
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .choice {
    padding: 33px 0 2px 88px;
    border: 1px solid $border-color;
  }

  .choice__item {
    margin-bottom: 33px;
  }

  .choice__label {
    &::before {
      width: 40px;
      height: 40px;

      top: -8px;
      left: -59px;
    }

    &::after {
      width: 18px;
      height: 18px;

      top: 3px;
      left: -48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .choice {
    padding-left: 86px;
  }
}
