.comment__legend {
  margin-bottom: 34px;
  padding: 0;
  width: 280px;

  @include font-options($oswald, 24px, 24px);
  color: #111111;
  text-transform: none;

  position: relative;

  &::after {
    @include head-line(13px, -20px, auto, 141px);
  }
}

.comment__textarea {
  @include font-options($oswald, 16px, 18px);
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  padding: 13px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -1px;
  }
}

@media (min-width: $tablet-width) {
  .comment__legend {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      @include head-line(22px, 319px, auto, -110px);
    }

    &::after {
      top: 22px;
      right: -419px;
      left: 220px;
    }
  }

  .comment__textarea {
    padding: 9px 20px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment__legend::after {
    right: -1050px;
  }
}
