.contacts__legend {
  @include font-options($oswald, 24px, 24px);
  color: #111111;
  text-transform: none;
}

.contacts__label,
.contacts__input {
  @include font-options($oswald, 16px, 18px);
  color: #444444;
  text-transform: uppercase;
}

.contacts__label {
  color: #222222;
}
