.contacts__legend {
  margin: 0 20px;
  margin-bottom: 33px;
  padding: 0;
  width: 280px;

  @include font-options($oswald, 24px, 24px);
  color: #111111;
  text-transform: none;

  position: relative;

  &::after {
    @include head-line(13px, -20px, auto, 201px);
  }
}

.contacts__list {
  @include list-reset();
  margin: 0 20px;
}

.contacts__item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  position: relative;
}

.contacts__label,
.contacts__input {
  @include font-options($oswald, 16px, 18px);
  color: #444444;
  text-transform: uppercase;
}

.contacts__label {
  margin-right: 17px;
  color: #222222;
}

.contacts__input {
  padding: 12px 35px 13px 14px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  flex-grow: 1;


  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -1px;

    & + .contacts__icon {
      fill: $green-color;
    }
  }

  &:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -1px;

    & + .contacts__icon {
      fill: #ff8282;
    }
  }
}

.contacts__icon {
  position: absolute;
  fill: #222222;

  &--email {
    top: 16px;
    right: 16px;
  }

  &--phone {
    top: 13px;
    right: 13px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__legend {
    margin: 0;
    margin-bottom: 76px;
    width: 100%;
    font-size: 36px;
    line-height: 36px;

    &::before {
      @include head-line(22px, 669px, auto, -110px);
    }

    &::after {
      top: 22px;
      right: -68px;
      left: 554px;
    }
  }

  .contacts__list {
    margin: 0;
    margin-right: -3px;
  }

  .contacts__item {
    margin-bottom: 19px;
  }

  .contacts__label,
  .contacts__input {
    font-size: 20px;
    line-height: 20px;
  }

  .contacts__label {
    margin-right: 29px;
  }

  .contacts__item:nth-child(2) .contacts__label {
    margin-right: 22px;
  }

  .contacts__input {
    padding: 10px 35px 11px 20px;
  }

  .contacts__icon {
    &--email {
      top: 20px;
      right: 20px;
    }

    &--phone {
      top: 17px;
      right: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__legend {
    &::before {
      right: 1260px;
    }

    &::after {
      right: -110px;
    }
  }

  .contacts__list {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    margin-right: auto;
    width: 570px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
