.it-works__title {
  @include font-options($oswald, 36px, 60px);
  color: #111111;
}

.it-works__list {
  list-style: none;
}

.it-works__item {
  @include font-options($arial, 14px, 18px);
  color: #444444;
}
