@media (min-width: $tablet-width) {
  .logo {
    margin-right: auto;
  }

  .logo__image {
    padding-left: 200px;
    width: 200px;
    height: 68px;
    box-sizing: border-box;
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    background-image: url("../img/logo-desktop.svg");
  }
}
