.main-nav__list {
  @include list-reset();
}

.main-nav__link {
  @include font-options($oswald-medium, 20px, 20px);
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 445px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    width: 480px;
  }
}
