.nutrition {
  margin: 0 20px;
}

.nutrition__list {
  @include list-reset();
}

.nutrition__item {
  background-color: $grey-color;
  margin-bottom: 20px;
}

.nutrition__title {
  @include font-options($oswald, 24px, 37px);
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nutrition__description {
  @include font-options($arial, 14px, 18px);
  color: #444444;
}

.nutrition__link {
  @include font-options($oswald, 16px, 16px);
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .nutrition {
    margin: 0 auto;
    width: $table-width-block;
  }

  .nutrition__item {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition {
    width: $desktop-width-block;
  }

  .nutrition__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nutrition__item {
    margin-bottom: 40px;
    width: 570px;
  }
}
