.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.page-header__nav {
  margin: 0;
  padding: 0;
}

// .page-header__promo {
//   outline: 1px dashed lighten(red, 30%); /*временно*/
// }

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    width: $table-width-block;
  }

  .page-header__wrapper {
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;

    display: flex;
    align-items: center;
  }

  .page-header__promo {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width-block;
  }
}
