.page-main {
  width: 100%;
}

.page-main__invitation,
.page-main__catalog,
.page-main__additional-products,
.page-main__profile {
  outline: 1px dashed lighten(red, 30%); /*временно*/
}

.page-main__title {
  @include font-options($oswald, 36px, 60px);
  color: #111111;
}

.page-main__it-works,
.page-main__wrapper,
.page-main__profile {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-main__it-works,
  .page-main__title,
  .page-main__catalog,
  .page-main__wrapper,
  .page-main__profile {
    margin: 0 auto;
  }

  .page-main__wrapper,
  .page-main__profile {
    width: $tablet-width-block;
  }

  .page-main__title {
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper,
  .page-main__profile {
    width: $desktop-width-block;
  }
}
