.page-footer {
  background-color: $grey-color;
  border: 1px dashed black; /*временно*/
}

.page-footer__wrapper {
  margin: 0 20px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.page-footer__social {
  border: 1px dashed lighten(red, 30%); /*временно*/
}

.page-footer__copyright {
  @include font-options($arial, 16px, 16px);
  color: #444444;
  text-decoration: none;
  background-color: $grey-color;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    margin: 0 auto;
    width: $table-width-block;
  }

  .page-footer__copyright {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width-block;
  }
}
