.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 100%;
}

.page-header__nav {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    width: $table-width-block;
    padding-top: 0;
  }

  .page-header__wrapper {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 60px;
    width: 100%;

    display: flex;
    align-items: center;
  }

  .page-header__promo {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width-block;
  }

  .page-header__wrapper {
    margin-top: 50px;
    margin-bottom: 105px;
  }
}
