.page-main {
  width: 100%;
  border: 1px dashed black; /*временно*/
}

.page-main__nutrition,
.page-main__it-works,
.page-main__example,
.page-main__invitation,
.page-main__catalog,
.page-main__additional-products {
  border: 1px dashed lighten(red, 30%); /*временно*/
}

/*-в файле catalog.html-*/
.page-main__title {
  @include font-options($oswald, 36px, 60px);
  color: #111111;
}
