.page-main {
  width: 100%;
}

.page-main__title {
  @include font-options($oswald, 36px, 60px);
  color: #111111;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid #ededed;
}

.page-main__nutrition,
.page-main__it-works,
.page-main__additional-products {
  margin: 0 20px;
}

.page-main__catalog {
  margin-bottom: 28px;
}

.page-main__additional-products {
  margin-bottom: 37px;
}

.page-main__profile {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .page-main__nutrition,
  .page-main__it-works,
  .page-main__title,
  .page-main__catalog,
  .page-main__profile,
  .page-main__additional-products {
    margin: 0 auto;
  }

  .page-main__nutrition {
    margin-bottom: 44px;
  }

  .page-main__profile,
  .page-main__catalog,
  .page-main__additional-products {
    width: $tablet-width-block;
  }

  .page-main__profile {
    margin-bottom: 55px;
  }

  .page-main__additional-products {
    margin-bottom: 77px;
  }

  .page-main__title {
    font-size: 60px;
    margin: 50px 30px 165px 30px;
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title,
  .page-main__profile,
  .page-main__additional-products {
    width: $desktop-width-block;
  }

  .page-main__additional-products {
    margin-bottom: 20px;
  }

  .page-main__nutrition {
    margin-top: 74px;
    margin-bottom: 31px;
  }

  .page-main__title {
    margin: 67px auto 165px auto;
  }

  .page-main__example {
    margin-bottom: 0;
  }
}
