.product {
  border: 1px dashed lighten(red, 30%); /*временно*/
}

.product__title {
  @include font-options($oswald, 16px, 20px);
  color: #111111;
  text-transform: uppercase;
}

.product__info {
  @include font-options($arial, 12px, 16px);
  color: #444444;
}


