.product-order__price-list {
  margin-bottom: 14px;

  @include font-options($arial, 14px, 14px);
  color: #444444;
  width: 100%;
  border-collapse: collapse;
}

.product-order__caption {
  margin-bottom: 14px;

  @include font-options($oswald, 16px, 16px);
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}

.product-order__tara {
  padding: 0;
  text-align: left;
}

.product-order__price {
  padding: 0;
  width: 20%;
  text-align: right;
  text-transform: uppercase;
}

.product-order__button {
  padding-top: 10px;
  padding-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .product-order__price-list {
    display: flex;
    margin-top: 25px;
    margin-bottom: 12px;
    width: 100%;
  }

  .product-order__caption {
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
  }

  .product-order__tara,
  .product-order__price {
    font-size: 16px;
    line-height: 20px;
  }

  .product-order__tara {
    text-align: right;
  }

  .product-order__price {
    width: 95px;
  }

  .product-order__button {
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .product-order {
    display: flex;
  }

  .product-order__price-list {
    margin-top: 24px;
    margin-bottom: 13px;
    align-items: center;
  }

  .product-order__tara {
    width: 245px;
    text-align: left;
  }

  .product-order__price {
    width: 80px;
    text-align: left;
  }

  .product-order__button {
    margin: auto 0;
    margin-right: 3px;
    padding-top: 11px;
    width: 339px;
  }
}
