.product {
  display: flex;
  flex-wrap: wrap;
}

.product__wrapper {
  width: 50%;
}

.product__link,
.product__link-picture {
  text-decoration: none;
}

.product__link-picture {
  height: 144px;
  order: -1;
}

.product__title {
  @include font-options($oswald, 16px, 20px);
  color: #111111;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 13px;
  width: 100px;
}

.product__info {
  @include font-options($arial, 12px, 16px);
  color: #444444;
  width: 100%;
  border-collapse: collapse;
}

.product__field,
.product__value {
  padding: 0;
}

.product__value {
  text-align: right;
}

.product__picture {
  margin-right: auto;
  height: 144px;
}

.product__order {
  padding: 10px 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product {
    box-sizing: border-box;
    width: 325px;
    flex-direction: column;
    padding-left: 38px;
    padding-right: 38px;
  }

  .product__link-picture {
    margin-top: -45px;
    margin-bottom: 43px;
    height: auto;
  }

  .product__picture {
    margin-left: -38px;
    height: auto;
  }

  .product__picture-img {
    width: 323px;
    height: 171px;
  }

  .product__picture-img--big {
    margin-top: -37px;
    height: auto;
  }

  .product__wrapper {
    margin-bottom: -1px;
    width: 100%;
  }

  .product__title {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 130px;
  }

  .product__info {
    font-size: 16px;
    margin-bottom: 34px;
  }

  .product__field,
  .product__value {
    padding: 7px 0 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__order {
    margin-bottom: 38px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__wrapper {
    margin-bottom: -3px;
  }

  .product__title {
    margin-top: -10px;
  }

  .product__info {
    margin-bottom: 34px;
  }

  .product__picture {
    margin-left: -36px;
  }

  .product__picture-img {
    width: 240px;
  }

  .product__picture-img--big {
    height: 210px;
  }
}
