.range {
  display: flex;
  align-items: flex-end;
  width: 203px;
}

.range__before,
.range__after {
  @include font-options($oswald, 16px, 20px);
  color: #111111;
  text-transform: uppercase;
}

.range__before {
  margin-left: 5px;
  margin-right: 18px;
  order: -1;
}

.range__scale {
  width: 83px;
  height: 13px;
  margin-right: auto;
  margin-bottom: 1px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.range__scale-current {
  width: 35px;
  height: 6px;
  background-color: $green-color;
  border-radius: 4px;
  position: absolute;
  left: 5px;
  top: 4px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .range {
    width: 575px;
  }

  .range__before,
  .range__after {
    position: relative;
    font-size: 20px;

    &::before {
      content: "";

      position: absolute;
      bottom: -9px;
      left: 0;

      width: 100%;
      border-bottom: 1px dashed #bebebe;
    }
  }

  .range__before {
    margin-left: 0;
    margin-right: 24px;
  }

  .range__after::before {
    border-bottom-color: #b8b8b8;
  }

  .range__scale {
    margin-right: 20px;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;

    &:hover {
      .range__scale-current {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
      }
    }

    &:active {
      .range__scale-current {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .range__scale:hover ~ .range__before::before,
  .range__scale:hover ~ .range__after::before {
    border-bottom-style: solid;
    border-bottom-color: #989898;
  }

  .range__scale:active ~ .range__before::before,
  .range__scale:active ~ .range__after::before {
    border-bottom-color: transparent;
  }

  .range__scale-current {
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -15px;
    left: 198px;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green-color;
      position: absolute;
      top: 13px;
      left: 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .range {
    width: 570px;
  }

  .range__scale {
    width: 430px;
  }

  .range__scale-current {
    left: 195px;
  }
}
