.social {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 23px 0 15px 0;

  display: flex;
  justify-content: flex-start;
}

.social__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;

  &:hover .social__svg,
  &:active .social__svg,
  &:focus .social__svg {
    fill: $green-color;
  }

  &:active .social__svg {
    fill-opacity: 0.3;
  }
}

.social__svg {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 5px;
    padding: 0;
    width: auto;
    height: 30px;
    border-bottom: none;

    justify-content: flex-start;
  }

  .social__item {
    margin-right: 25px;

    &:nth-child(2) {
      margin-right: 17px;
    }
  }

  .social__svg {
    width: 30px;
  }

  .social__link {
    width: 30px;
    height: 30px;

    &--vkontakte {
      padding-top: 3px;

      .social__svg {
        height: 20px;
      }
    }

    &--instagram .social__svg {
      height: 23px;
    }

    &--facebook .social__svg {
      height: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-left: auto;
  }
}
