@mixin font-options($stackFont: $arial, $size: 14px, $line-height: 18px) {
  font-family: $stackFont;
  font-size: $size;
  line-height: $line-height;
}

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin head-line($top: auto, $right: auto, $bottom: auto, $left: auto) {
  content: "";

  border-bottom: 3px solid $green-color;

  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
