@font-face {
  font-family: "Oswald";
  src: url('../fonts/oswaldregular.woff2') format('woff2'),
       url('../fonts/oswaldregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden /*:not(:focus):not(:active)*/ {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include font-options($oswald, 16px, 20px);
  color: #ffffff;
  text-transform: uppercase;
  background-color: $green-color;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
