/* color */
$green-color: #68b738;
$grey-color: #f2f2f2;
/* size */
$tablet-width: 768px;
$desktop-width: 1440px;
$table-width-block: 710px;
$desktop-width-block: 1220px;
$mobile-width-only: 767px;
/* fonts */
$oswald: ("Oswald", "Arial", sans-serif);
$oswald-medium: ("OswaldMedium", "Arial", sans-serif);
$arial: ("Arial", sans-serif);
