/* color */
$green-color: #68b738;
$grey-color: #f2f2f2;
/* size */
$table-width: 768px;
$desktop-width: 1440px;
/* fonts */
$oswald: ("Oswald", "Arial", sans-serif);
$oswald-medium: ("OswaldMedium", "Arial", sans-serif);
$arial: ("Arial", sans-serif);
